[project]
	description = blog
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stewie Cho (stewiecho)
[access "refs/for/refs/*"]
	read = group user/Stewie Cho (stewiecho)
	push = group user/Stewie Cho (stewiecho)
	label-Code-Review = -2..+2 group user/Stewie Cho (stewiecho)
	label-Verified = -1..+1 group user/Stewie Cho (stewiecho)
	rebase = group user/Stewie Cho (stewiecho)
	removeReviewer = group user/Stewie Cho (stewiecho)
	submit = group user/Stewie Cho (stewiecho)
[access "refs/heads/*"]
	read = group user/Stewie Cho (stewiecho)
	create = group user/Stewie Cho (stewiecho)
	push = +force group user/Stewie Cho (stewiecho)
	pushMerge = group user/Stewie Cho (stewiecho)
[access "refs/tags/*"]
	push = +force group user/Stewie Cho (stewiecho)
	pushTag = group user/Stewie Cho (stewiecho)
	pushSignedTag = group user/Stewie Cho (stewiecho)
